body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(24, 8, 8);
  overflow: hidden;
}



body > div {
  width: 500px;
  height: 500px;
  text-align: center;
  background-image: linear-gradient(rgb(87, 42, 42), black);
}

.menu {
  border-radius: 30px;

}

.menu * {
  font-size: 30px;
  padding-bottom: 10px;
}

.menu__item {
  color: antiquewhite;
}