<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>
  <body>
    <div class="menu">
      <h1>TEST WEBSITE</h1>
      <!-- <div class="menu__item">
        <span>ZERO</span>
      </div> -->
      <div class="menu__item">
        <span>ONE</span>
      </div>
      <div class="menu__item">
        <span>TWO</span>
      </div>
      <div class="menu__item">
        <span>THREE</span>
      </div>
      <div class="menu__item">
        <span>FOUR</span>
      </div>
    </div>
  </body>
</html>
